body {
background:rgb(243,243,243) url("images/page-bg.png");
margin-top:38px;
font:13px "Helvetica Neue",Helvetica,Tahoma,sans-serif;
color:rgb(41,54,76);
margin-bottom:65px;
}

h1,h2,h3 {
font-family:'Bitter',Garamond,Times,sans-serif;
font-weight:bolder;
}

#header_container {
position:fixed;
top:0;
left:0;
z-index:1;
width:100%;
height:38px;
background:transparent url("images/page-bg.png");
}

#header {
font:bold 0px "Helvetica Neue",Helvetica,Tahoma,sans-serif;
line-height:38px;
height:100%;
background:rgba(67,121,202,0.8);
box-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#header #header_bar {
width:880px;
margin:0 auto;
height:100%;
position:relative;
z-index:2;
}

#header a, #header span {
font-size:15px;
-webkit-transition:all 0.1s ease-in-out;
-moz-transition:all 0.1s ease-in-out;
-o-transition:all 0.1s ease-in-out;
-ms-transition:all 0.1s ease-in-out;
transition:all 0.1s ease-in-out;
padding:0 30px;
display:inline-block;
text-decoration:none;
color:rgb(245,245,245);
text-shadow:rgb(22,40,59) 1px 1px 1px;
}

#header #header_links {
float:right;
height:100%;
}

#header #home_link {
padding:0 5px;
float:left;
width:64px;
height:100%;
background:transparent url("images/missinge64.png") no-repeat 50% -6px;
}

#header .selected {
background-color:rgb(37,67,112);
box-shadow:inset 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:inset 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
-moz-box-shadow:inset 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#header a:hover {
color:rgb(34,54,75);
background-color:rgba(189,210,241,0.8);
text-shadow:none;
}

#header a:active {
background-color:rgb(37,67,112);
color:rgb(245,245,245);
text-shadow:rgb(22,40,59) 1px 1px 1px;
}

#header a#home_link:hover {
background-color:transparent;
}

#banner_container, .content_container {
min-width:970px;
text-shadow:rgb(53,90,145) 1px 1px 1px;
}

#banner_container {
box-shadow: inset 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: inset 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
background-color:rgba(56,141,195,0.5);
}

#banner, .content {
width:940px;
margin:0 auto;
position:relative;
}

.content {
color:#444;
}

.content a {
color:rgb(41,54,76);
}

.content #highlights {
padding:14px 20px 10px;
width:900px;
margin:0 auto;
}

.iconbar {
padding:0 35px;
color:#444;
text-shadow:0px 1px 0px white;
font-size:0;
}

.iconbar h1 {
font-size:20px;
line-height:64px;
}

.iconbar > * {
vertical-align:top;
}

.iconbar .baricon {
display:inline-block;
background-image:url("images/sprites.png");
background-repeat:no-repeat;
width:64px;
height:64px;
margin-right:10px;
}

.iconbar .bartxt {
display:inline-block;
}

.iconbar .bardesc {
font-size:14px;
line-height:16px;
height:32px;
}

.iconbar .bardesc a {
font-weight:bold;
}

#trouble {
background-position:-64px -64px;
}

#bulb {
background-position:-128px -64px;
}

#questionmark {
background-position:-192px -64px;
}

#ads {
font-size:0;
height:90px;
min-width:970px;
text-align:center;
background-color:rgba(0,0,0,0.1);
}

#ads #ads_title {
margin-top:-1px;
color:rgb(245,245,245);
font-size:18px;
float:left;
background-color:rgba(0,0,0,0.7);
height:50px;
font-weight:bold;
text-align:right;
padding:20px 10px;
}

#highlights div.highlight {
display:inline-block;
width:188px;
text-align:center;
padding:0 15px;
text-shadow:0px 1px 0px white;
color:#444;
vertical-align:top;
font-size:14px;
}

#highlights div.highlight a {
display:inline-block;
margin-top:8px;
font-weight:bold;
}

#highlights div.highlight div.icon {
width:64px;
height:64px;
margin:6px auto;
background-image:url("images/sprites.png");
background-repeat:no-repeat;
}

#fresh {
background-position:0 0;
}

#custom {
background-position:-64px 0;
}

#fast {
background-position:-128px 0;
}

#open {
background-position:-192px 0;
}

#banner {
overflow:hidden;
padding:40px 30px;
}

#home #banner {
padding:30px 30px;
}

#banner_box, #banner_img {
display:inline-block;
}

#banner h1 {
font-size:300%;
line-height:1;
font-weight:bolder;
margin-bottom:5px;
text-shadow:rgb(53,90,145) 1px 1px 2px;
}

#home #banner h1 {
font-size:400%;
}

#home #banner_box {
float:left;
}

#banner_img {
float:right;
margin-bottom:-100%;
}

#home #banner {
min-height:200px;
}

#home #banner_img {
margin:0;
position:absolute;
right:0;
top:auto;
bottom:-30px;
}

#banner h2 {
margin:4px 0;
font-size:180%;
font-weight:bold;
}

#banner h3 {
margin:4px 0;
font-size:120%;
font-weight:400;
line-height:180%;
}

.greenbutton {
text-align:center;
-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
box-shadow: inset 0px 1px 0px 0px #caefab;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77D42A), color-stop(1, #5CB811) );
background: -moz-linear-gradient( center top, #77D42A 5%, #5CB811 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
background-color: #77D42A;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
border: 1px solid #1B610E;
display: inline-block;
color: #244A06 !important;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: bold;
padding: 8px 27px;
text-decoration: none;
text-shadow: 1px 1px 0px #AADE7C;
}

.greenbutton:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #5CB811), color-stop(0.95, #77D42A) );
background: -moz-linear-gradient( center top, #5CB811 0%, #77D42A 95% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CB811', endColorstr='#77D42A');
}

.greybutton {
text-align:center;
-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
box-shadow: inset 0px 1px 0px 0px #ffffff;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #CFCFCF) );
background: -moz-linear-gradient( center top, white 5%, #CFCFCF 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
background-color: white;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #666;
display: inline-block;
color: #303030;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
font-weight: bold;
padding: 5px 19px;
text-decoration: none;
text-shadow: 1px 1px 0px white;
}

.disabled_greenbutton {
cursor:default;
-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
box-shadow: inset 0px 1px 0px 0px #ffffff;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #CFCFCF) );
background: -moz-linear-gradient( center top, white 5%, #CFCFCF 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
background-color: white;
border: 1px solid #666;
color: #303030 !important;
text-shadow: 1px 1px 0px white;
}

.greenbutton:active {
position:relative;
top:1px;
}

.greybutton:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #CFCFCF), color-stop(0.95, white) ) !important;
background: -moz-linear-gradient( center top, #CFCFCF 0%, white 95% ) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#FFFFFF') !important;
}

.disabled_greenbutton:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #CFCFCF) );
background: -moz-linear-gradient( center top, white 5%, #CFCFCF 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
}

#download_box {
margin-top:15px;
}

#download_button {
display:inline-block;
padding:4px 27px 6px;
min-width:90px;
}

#download_info {
display:inline-block;
font-size:10px;
line-height:12px;
padding:5px;
text-shadow:none;
height:100%;
color:rgb(41,54,76);
}

#download_info a {
color:rgb(41,54,76);
}

.greenbutton #download_version {
font-size:11px;
display:block;
clear:both;
color:rgba(255,255,255,0.9);
text-shadow:none;
}

.disabled_greenbutton #download_version {
color:rgba(0,0,0,0.5);
}

#update_txt, #installed_txt {
display:none;
}

.highlight span, .highlight a {
font-size:13px;
line-height:1.2;
}

.highlight h1 {
margin-bottom:4px;
}

strong {
font-weight:bold;
}

em {
font-style:italic;
}

small {
font-size:smaller;
}

#footer_container {
position:fixed;
bottom:0;
width:100%;
-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
min-width:970px;
margin:15px auto 0;
padding:10px 40px 0;
height:40px;
background-image: linear-gradient(bottom, rgb(165,165,165) 0%, rgb(150,150,150) 100%);
background-image: -o-linear-gradient(bottom, rgb(165,165,165) 0%, rgb(150,150,150) 100%);
background-image: -moz-linear-gradient(bottom, rgb(165,165,165) 0%, rgb(150,150,150) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(165,165,165) 0%, rgb(150,150,150) 100%);
background-image: -ms-linear-gradient(bottom, rgb(165,165,165) 0%, rgb(150,150,150) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(165,165,165)),
	color-stop(1, rgb(150,150,150))
);
}

#footer {
position:relative;
font-size:14px;
color:black;
text-shadow:1px 1px 1px rgba(255,255,255,0.5);
width:860px;
margin:0 auto;
}

#footer a.link {
color:black;
}

#footer a.greybutton {
position:absolute;
right:34px;
top:2px;
}

#footer a.greybutton:active {
top:3px;
}

#donate_container {
background:black url('images/darkstrip.png') repeat;
width: 100%;
min-width: 970px;
height: 70px;
margin:15px 0;
-webkit-box-shadow: inset 0px 1px 20px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0px 1px 20px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0px 1px 20px 10px rgba(0, 0, 0, 0.5);
}

.donatebutton {
-moz-box-shadow: inset 0px 1px 0px 0px #f9eca0;
-webkit-box-shadow: inset 0px 1px 0px 0px #f9eca0;
box-shadow: inset 0px 1px 0px 0px #f9eca0;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F0C911), color-stop(1, #F2AB1E) );
background: -moz-linear-gradient( center top, #F0C911 5%, #F2AB1E 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
background-color: #F0C911;
-moz-border-radius: 6px;
line-height: 18px !important;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #E65F44;
display: inline-block;
color: #993503;
font-family: arial;
font-size: 15px;
font-weight: bold;
padding: 6px 24px;
text-decoration: none;
text-shadow: 1px 1px 0px #DED17C;
}

.donatebutton:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #F2AB1E), color-stop(0.95, #F0C911) );
background: -moz-linear-gradient( center top, #F2AB1E 0%, #F0C911 95% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2AB1E', endColorstr='#F0C911');
}

.donatebutton:active {
position:relative;
top:1px;
}

#donate {
text-align:center;
width:860px;
margin:0 auto;
}

#donate > * {
vertical-align:middle;
}

#donate_icon {
display:inline-block;
background:url("images/sprites.png") no-repeat 0 -64px;
width:64px;
height:64px;
padding:3px 0;
}

#donate_txt {
color:rgb(245,245,245);
padding:10px 10px 14px 10px;
display:inline-block;
}

#old_update {
font-size:0;
position:absolute;
height:1px;
width:1px;
top:0;
right:0;
display:none;
}

#old_update div {
display:none;
}

#donate .donatebutton {
margin-left:40px;
}

#donate_txt h1 {
font-size:20px;
line-height:24px;
}

#donate_txt h2 {
font-weight:normal;
font-size:18px;
line-height:22px;
}

.button:active {
top:1px;
}

.faq_group {
text-shadow:1px 1px 1px white;
color:#444;
padding:0 50px;
margin:30px 0;
}

.faq_group h1 {
font-size:20px;
}

.faq_item {
position:relative;
padding:6px 10px 6px 30px;
border-radius:10px;
background-color:rgba(255,255,255,0.7);
border:1px solid rgba(0,0,0,0.2);
cursor:pointer;
}

.open_faq .faq_item {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
}

.faq_group {
font-size:0;
}

.faq_entry {
margin-top:5px;
}

.faq_group h2 {
font-size:15px;
line-height:18px;
min-height:18px;
font-weight:normal;
}

.faq_group h2 + h2 {
margin-top:4px;
}

.faq_item .faq_icon {
background:url("images/sprites.png") no-repeat;
background-position:-40px -200px;
height:16px;
width:16px;
position:absolute;
top:7px;
left:10px;
}

.faq_answer p {
margin:8px 0;
}

.faq_answer p:first-child {
margin-top:0;
}

.faq_answer p:last-child {
margin-bottom:0;
}

.faq_answer .center_text {
text-align:center;
margin:10px 0;
}

.faq_answer big {
font-size:125%;
}

.faq_answer {
overflow:hidden;
padding:0 30px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
-ms-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;
height:0;
font-size:0;
color:rgba(0,0,0,0);
}

.open_faq .faq_answer {
color:#444;
background-color:rgba(0,0,0,0.1);
border:1px solid rgba(0,0,0,0.2);
border-top:0;
padding:18px 30px 20px;
margin-bottom:10px;
font-size:14px;
height:auto;
}

.faq_answer .subtitle {
background-color:rgba(255,255,255,0.4);
padding:3px 8px;
margin:16px -2px 10px -2px;
}

.faq_answer hr {
border:0;
border-top:1px solid rgba(0,0,0,0.6);
width:60%;
margin:22px auto;
box-shadow: 1px 1px 1px 0 rgba(255,255,255,0.6);
}

ul {
list-style-type:disc;
padding:0 30px;
margin:8px 0;
}

ul li {
margin:4px 0;
}

ul ul {
margin:4px 0;
list-style-type:circle;
}

.screenshot_container {
text-align:center;
margin:10px 0;
}

.screenshot {
display:inline-block;
position:relative;
}

.screenshot img {
max-width:600px;
}

.screenshot_overlay {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
box-shadow: inset 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: inset 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

.instructions {
display:none;
margin:12px 0;
}

.instructions_title {
margin:8px 0;
cursor:pointer;
position:relative;
padding-left:16px;
}

.instructions_title h3 {
font-size:15px;
line-height:16px;
}

.instructions_title .more {
background:url("images/sprites.png") no-repeat;
width:16px;
height:16px;
position:absolute;
top:0;
left:-1px;
}

.instructions_title .more {
background-position:-8px -200px;
}

.open_instructions .instructions {
display:block;
}

.open_instructions .instructions_title .more {
background-position:-24px -200px;
}

#faq a.anchor {
display:inline-block;
position:relative;
top:-46px;
}