#facebox {
position:absolute;
top:0;
left:0;
z-index:100;
text-align:left;
}

#facebox .popup{
position:relative;
border:3px solid rgba(0,0,0,0);
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
display:table;
width:370px;
padding:10px;
background:#fff;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

#facebox .content > p:first-child{
margin-top:0;
}

#facebox .content > p:last-child{
margin-bottom:0;
}

#facebox .close{
position:absolute;
top:5px;
right:5px;
padding:2px;
background:#fff;
}
#facebox .close img{
opacity:0.3;
}
#facebox .close:hover img{
opacity:1.0;
}

#facebox .loading {
text-align:center;
}

#facebox .slideshow {
position:relative;
}

#facebox .slideshow .image {
position:absolute;
top:0;
left:0;
width:100%;
}

#facebox .slideshow .turner_left, #facebox .slideshow .turner_right {
height:45px;
width:33px;
display:none;
position:absolute;
top:0;
cursor:pointer;
}

#facebox .slideshow .turner_left {
background-position:0 0;
left:-16px;
}

#facebox .slideshow .turner_right {
right:-16px;
background-position:-33px 0;
}

#facebox:hover .slideshow .turner_left, #facebox:hover .slideshow .turner_right {
display:block;
}

#facebox .image {
text-align:center;
}

#facebox .slideshow .captioned {
position:relative;
margin:0 auto;
}

#facebox .slideshow .captioned .caption {
position:absolute;
display:none;
width:100%;
bottom:0;
color:white;
}

#facebox .slideshow .captioned .captionbg {
background-color:black;
width:100%;
opacity:0.5;
}

#facebox:hover .slideshow .captioned .caption {
display:block;
}

#facebox .slideshow .image img {
width:100%;
}

#facebox img {
border:0;
margin:0;
}

#facebox_overlay {
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
}

.facebox_hide {
z-index:-100;
}

.facebox_overlayBG {
background-color:#000;
z-index:99;
}

#facebox .logo {
position:absolute;
bottom:-24px;
right:-24px;
}

