TESTER_LIST
syncDirs.sh
temporary
chrome/core
missinge.safariextension/core
firefox/missinge/data/core
chrome/license
missinge.safariextension/license
firefox/missinge/data/license
chrome/identity
missinge.safariextension/identity
firefox/missinge/data/identity
chrome/lib
missinge.safariextension/lib
firefox/missinge/data/lib
build/chrome-build
build/firefox-build
build/safari-build
firefox/missinge/lib/localizations.js
firefox/missinge/lib/utils.js
