Options +FollowSymLinks +MultiViews
<Files ~ "^\.ht">
	Order allow,deny
	Deny from all
</Files>

AddType application/octet-stream .safariextz

<IfModule mod_rewrite.c>
RewriteRule ask$ http://blog.missinge.infraware.ca/ask
RewriteRule archive$ http://blog.missinge.infraware.ca/archive
RewriteCond %{HTTP_HOST} ^git.missinge.infraware.ca$ [NC]
RewriteRule ^(.*)$ https://github.com/jcutler/Missing-E [R=301,L]
</IfModule>

