#MissingE_selecttype_list {
position:absolute;
z-index:200;
display:none;
}

#MissingE_selecttype_list button.chrome:active {
margin-bottom:1px !important;
}

#MissingE_selecttype_btn.force_border .chrome_button {
background-position:0 -115px !important;
}

#MissingE_selecttype_btn.force_border .chrome_button_left {
background-position:0 0 !important;
}

#MissingE_selecttype_btn.force_border .chrome_button_right {
background-position:-10px 0 !important;
}

#MissingE_selecttype_list .chrome_button_left {
background-position:0 -31px !important;
}

#MissingE_selecttype_list .chrome_button_right {
background-position:-10px -31px !important;
}

#MissingE_selecttype_list .header_button {
float:none !important;
margin:0 !important;
width:100% !important;
}

#MissingE_selecttype_list button {
width:100% !important;
height:20px !important;
}

#MissingE_selecttype_list .chrome_button {
background-position:0 -51px !important;
padding:2px 0 !important;
}

#MissingE_selecttype_list .chrome_button_left, #MissingE_selecttype_list .chrome_button_right {
padding:10px 5px !important;
}

#MissingE_selecttype_list .last_header_button .chrome_button {
padding:2px 0 4px !important;
background-position:0 -93px !important;
}

#MissingE_selecttype_list .last_header_button .chrome_button_left, #MissingE_selecttype_list .last_header_button .chrome_button_right {
padding:11px 5px !important;
}

#MissingE_selecttype_list .last_header_button .chrome_button_left {
background-position:0 -71px !important;
}

#MissingE_selecttype_list .last_header_button .chrome_button_right {
background-position:-10px -71px !important;
}
