#MissingE_sidebar_title a {
color:rgba(0,0,0,0.73) !important;
text-shadow:1px 1px 1px rgba(255,255,255,0.5) !important;
}

.MissingE_noslim_sidebar #MissingE_sidebar_title a {
background-position:10px 8px !important;
padding:6px 13px 6px 40px !important;
}

#MissingE_sidebar_menu {
position:absolute;
z-index:150;
margin:0 !important;
background:#1C3752;
border-top-right-radius:0 !important;
border-top-left-radius:0 !important;
width:100%;
display:none;
}

#MissingE_sidebar_menu li {
border-radius:0 !important;
}

#MissingE_sidebar_menu li a {
background:none !important;
color:rgba(255,255,255,0.69) !important;
text-shadow:0 0 0 transparent !important;
}

.MissingE_noslim_sidebar #MissingE_sidebar_menu li a {
padding:6px 13px 6px 13px !important;
}

#MissingE_sidebar_menu li.current_sidebar {
display:none;
}
