<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jeremy Cutler</string>
	<key>Builder Version</key>
	<string>6534.55.3</string>
	<key>CFBundleDisplayName</key>
	<string>Missing e</string>
	<key>CFBundleIdentifier</key>
	<string>ca.infraware.missinge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.0</string>
	<key>CFBundleVersion</key>
	<string>29000</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>missinge-settings</string>
				<key>Image</key>
				<string>identity/missinge_button.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Missing e</string>
				<key>Palette Label</key>
				<string>Missing e</string>
				<key>Tool Tip</key>
				<string>Missing e - Settings</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>extension.js</string>
				<string>jquery.min.js</string>
				<string>core/localizations.js</string>
				<string>core/utils.js</string>
				<string>core/common/ajaxEvents.js</string>
				<string>lib/jquery.ui.core.min.js</string>
				<string>lib/jquery.ui.widget.min.js</string>
				<string>lib/jquery.ui.mouse.min.js</string>
				<string>lib/jquery.ui.draggable.min.js</string>
				<string>lib/jquery.ui.sortable.min.js</string>
				<string>lib/jquery.ui.resizable.min.js</string>
				<string>core/common/menuButton.js</string>
				<string>lib/facebox/facebox.js</string>
				<string>core/common/warningInfo.js</string>
				<string>core/common/konami.js</string>
				<string>core/askTweaks/askTweaks.js</string>
				<string>core/betterReblogs/betterReblogs_dash.js</string>
				<string>core/betterReblogs/betterReblogs_fill.js</string>
				<string>core/betterReblogs/betterReblogs_post.js</string>
				<string>core/bookmarker/bookmarker.js</string>
				<string>core/dashLinksToTabs/dashLinksToTabs.js</string>
				<string>core/gotoDashPost/gotoDashPost.js</string>
				<string>core/magnifier/magnifier.js</string>
				<string>core/postCrushes/postCrushes.js</string>
				<string>core/postCrushes/postCrushes_fill.js</string>
				<string>core/postingTweaks/postingTweaks.js</string>
				<string>core/dashboardTweaks/dashboardTweaks.js</string>
				<string>core/sidebarTweaks/sidebarTweaks.js</string>
				<string>core/reblogYourself/reblogYourself_post.js</string>
				<string>core/reblogYourself/reblogYourself_dash.js</string>
				<string>core/reblogYourself/reblogYourself_fill.js</string>
				<string>core/replyReplies/replyReplies.js</string>
				<string>core/replyReplies/replyReplies_fill.js</string>
				<string>core/safeDash/safeDash.js</string>
				<string>core/timestamps/timestamps.js</string>
				<string>core/massEditor/massEditor.js</string>
				<string>core/postingTweaks/postingTweaks_post.js</string>
				<string>core/common/zindexFix.js</string>
				<string>core/siteIntegration.js</string>
				<string>whoami.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>extension.js</string>
				<string>core/utils.js</string>
				<string>core/common/earlyCSS.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>lib/facebox/facebox.css</string>
			<string>core/askTweaks/askTweaks.css</string>
			<string>core/betterReblogs/quickReblog.css</string>
			<string>core/betterReblogs/betterReblogs.css</string>
			<string>core/reblogYourself/reblogYourself.css</string>
			<string>core/bookmarker/bookmarker.css</string>
			<string>core/magnifier/magnifier.css</string>
			<string>core/postingTweaks/postingTweaks.css</string>
			<string>core/massEditor/massEditor.css</string>
			<string>core/sidebarTweaks/sidebarTweaks.css</string>
			<string>core/dashboardTweaks/draftQueueTools.css</string>
			<string>core/dashboardTweaks/notesSorter.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.tumblr.com/*</string>
			<string>http://missing-e.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Useful features and customizations for Tumblr.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://missing-e.com/safari/missinge-version.plist</string>
	<key>Website</key>
	<string>http://missing-e.com</string>
</dict>
</plist>
