<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jeremy Cutler</string>
	<key>CFBundleDisplayName</key>
	<string>Missing e</string>
	<key>CFBundleIdentifier</key>
	<string>ca.infraware.missinge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.6</string>
	<key>CFBundleVersion</key>
	<string>706</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>missinge-settings</string>
				<key>Image</key>
				<string>missinge-button.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Missing e</string>
				<key>Palette Label</key>
				<string>Missing e</string>
				<key>Tool Tip</key>
				<string>Missing e - Settings</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>common/whoami.js</string>
				<string>common/addmenu.js</string>
				<string>common/jquery.min.js</string>
                                <string>common/ajaxEvents.js</string>
				<string>common/jquery-ui.min.js</string>
				<string>common/defs.js</string>
				<string>common/utils.js</string>
				<string>common/storage.js</string>
				<string>common/localizations.js</string>
				<string>facebox/facebox.js</string>
				<string>askFixes/askFixes.js</string>
				<string>betterReblogs/betterReblogs_dash.js</string>
				<string>betterReblogs/betterReblogs_fill.js</string>
				<string>betterReblogs/betterReblogs_post.js</string>
				<string>bookmarker/bookmarker.js</string>
				<string>dashLinksToTabs/dashLinksToTabs.js</string>
				<string>followChecker/followChecker.js</string>
				<string>gotoDashPost/gotoDashPost.js</string>
				<string>magnifier/magnifier.js</string>
				<string>postCrushes/postCrushes.js</string>
				<string>postCrushes/postCrushes_fill.js</string>
				<string>postingFixes/postingFixes.js</string>
				<string>dashboardFixes/dashboardFixes.js</string>
				<string>sidebarTweaks/sidebarTweaks.js</string>
				<string>reblogYourself/reblogYourself_post.js</string>
				<string>reblogYourself/reblogYourself_dash.js</string>
				<string>replyReplies/replyReplies.js</string>
				<string>replyReplies/replyReplies_fill.js</string>
				<string>safeDash/safeDash.js</string>
				<string>timestamps/timestamps.js</string>
				<string>unfollower/unfollower.js</string>
				<string>massEditor/massEditor.js</string>
				<string>postingFixes/subEdit.js</string>
				<string>common/zindexFix.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>facebox/facebox.css</string>
			<string>askFixes/askFixes.css</string>
			<string>betterReblogs/quickReblog.css</string>
			<string>bookmarker/bookmarker.css</string>
			<string>magnifier/magnifier.css</string>
			<string>followChecker/followChecker.css</string>
			<string>safeDash/safeDash.css</string>
			<string>unfollower/unfollower.css</string>
			<string>postingFixes/postingFixes.css</string>
			<string>massEditor/massEditor.css</string>
			<string>sidebarTweaks/sidebarTweaks.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.tumblr.com/*</string>
			<string>http://missinge.infraware.ca/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Useful features and customizations for Tumblr.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://missinge.infraware.ca/safari/missinge-version.plist</string>
	<key>Website</key>
	<string>http://missinge.infraware.ca</string>
</dict>
</plist>
