<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Use 'e' toolbar button or</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>Dummy1</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>"Account" drop-down menu on Tumblr</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>Dummy2</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>to change settings.</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>Dummy3</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>2.10.5</string>
		<key>Key</key>
		<string>MissingE_version</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>MissingE_installedVersion</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_sidebarTweaks_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_bookmarker_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashLinksToTabs_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_safeDash_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_timestamps_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_magnifier_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_gotoDashPost_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_reblogYourself_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_askTweaks_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postCrushes_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_replyReplies_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_massEditor_enabled</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_konami_active</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_safeDash_photosetAll</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_askTweaks_scroll</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_askTweaks_betterAnswers</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_askTweaks_tagAsker</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>MissingE_askTweaks_defaultTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_askTweaks_photoReplies</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_askTweaks_submissionControls</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_askTweaks_askDash</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_askTweaks_massDelete</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_askTweaks_smallFanMail</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_askTweaks_allFanMail</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_reblogQuoteFit</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_wrapTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_replaceIcons</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_textControls</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_smallIcons</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_postLinks</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_reblogReplies</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_widescreen</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_queueArrows</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_noExpandAll</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_massDelete</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_randomQueue</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_sortableNotes</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_notePreview</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_simpleHighlight</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_pagedNav</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashboardTweaks_keyboardShortcut</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_sidebarTweaks_showOverflowTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_sidebarTweaks_accountNum</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_sidebarTweaks_addSidebar</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_sidebarTweaks_slimSidebar</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_magnifier_magnifyAvatars</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_dashLinksToTabs_newPostTabs</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashLinksToTabs_sidebar</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashLinksToTabs_reblogLinks</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_dashLinksToTabs_editLinks</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_bookmarker_addBar</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_bookmarker_keyboardShortcut</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>%Y-%m-%D %H:%i</string>
		<key>Key</key>
		<string>MissingE_bookmarker_format</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>%Y-%m-%D %H:%i</string>
		<key>Key</key>
		<string>MissingE_timestamps_format</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_photoReplies</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_addUploader</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_quickButtons</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_blogSelect</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_tagQueuedPosts</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>MissingE_postingTweaks_queueTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_subEdit</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>4</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_subEditRetries</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_showAnswers</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_facebookOff</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_postingTweaks_smartRedirect</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_reblogYourself_postPage</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_reblogYourself_dashboard</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Tumblr Crushes:</string>
		<key>Key</key>
		<string>MissingE_postCrushes_prefix</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postCrushes_crushSize</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postCrushes_addTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postCrushes_showPercent</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_postCrushes_newTab</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_replyReplies_showAvatars</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_replyReplies_smallAvatars</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_replyReplies_addTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>MissingE_replyReplies_defaultTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_replyReplies_newTab</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_passTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickReblog</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickReblogAcctType</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickReblogAcctName</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>default</string>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickReblogForceTwitter</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>default</string>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickReblogForceFacebook</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickReblogCaption</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_keyboardShortcut</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_quickKeyboardShortcut</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_autoFillTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_fullText</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_reblogAsks</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>4</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_askRetries</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0</real>
		<key>Key</key>
		<string>MissingE_betterReblogs_tagReblogs</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>MissingE_betterReblogs_reblogTags</string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
</array>
</plist>
