.MissingE_post_controls {
position:relative !important;
}

#MissingE_postMenu {
position:absolute;
left:0;
padding:1px 0 3px 0;
margin-bottom:10px;
visibility:hidden;
}

#MissingE_postMenu button {
font-size:12px !important;
line-height:20px !important;
height:20px !important;
margin:1px 0 1px 0 !important;
width:100% !important;
}

#bookmarklet_index #MissingE_postMenu {
display:none;
margin-bottom:0;
}

#bookmarklet_index #MissingE_postMenu button {
margin:1px 2px !important;
height:auto !important;
line-height:normal !important;
}

#save_button:hover + #MissingE_postMenu {
visibility:visible;
}

#MissingE_postMenu:hover {
visibility:visible !important;
display:block !important;
}

#MissingE_postMenu div.current {
display:none;
}

#post_controls input:hover + #MissingE_postMenu {
visibility:visible;
display:block;
}

#post_controls #extra_channel {
width:145px;
margin-left:15px;
font:14px Arial,Helvetica;
color:#666;
padding:5px;
height:36px;
vertical-align:top;
border-radius:5px;
border:1px solid #DDD;
border-top:1px solid #CCC;
border-bottom:1px solid #CCC;
}

.ui-resizable {
position:relative;
padding-bottom:12px !important;
background-color:#FFF !important;
}

.ui-icon-gripsmall-diagonal-se {
position:absolute;
bottom:0;
right:0;
background-position:right bottom !important;
height:10px;
width:12px !important;
background-color:transparent !important;
background-repeat:no-repeat !important;
}

.ui-resizable .resize_overlay {
background-color:transparent !important;
width:100%;
height:100%;
z-index:1000;
display:none;
position:absolute;
top:0;
left:0;
}
