.MissingE_post_controls {
position:relative !important;
}

#MissingE_postMenu {
position:absolute;
left:0;
padding:1px 0 1px 0;
margin-bottom:10px;
visibility:hidden;
}

#MissingE_postMenu button {
font-size:12px !important;
line-height:20px !important;
height:20px !important;
margin:1px 0 1px 0 !important;
width:100% !important;
}

#bookmarklet_index #MissingE_postMenu {
display:none;
margin-bottom:0;
}

#bookmarklet_index #MissingE_postMenu button {
margin:1px 2px !important;
height:auto !important;
line-height:normal !important;
}

#save_button:hover + #MissingE_postMenu {
visibility:visible;
}

#MissingE_postMenu:hover {
visibility:visible !important;
display:block !important;
}

#MissingE_postMenu div.current {
display:none;
}

#post_controls input:hover + #MissingE_postMenu {
visibility:visible;
display:block;
}
